<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://img.freepik.com/free-vector/realistic-horizontal-cinema-movie-time-poster-with-3d-glasses-snacks-tickets-clapper-reel-blue-background-with-bokeh-vector-illustration_1284-77013.jpg');">
  <div class="container">
    <h3>Save any kind of movies</h3>
  </div>
</div>

<% @lists.each do |list| %>
    <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <h2> <%= link_to list.name, list_path(list) %>  </h2>
    </div>

<% end %>

 <%= link_to "Create a new movie list", new_list_path %> 

