<header class=" mb-4">
	<h1>BEST <BR>MOVIES</h1>
</header>


<div class="card-grid p-3">
  <% if @lists.empty? %>
    <p>No lists found.</p>
  <% else %>
    <% @lists.each do |list| %>
  <div class="card-trip">
    <% if list.photo.present? %>  <%= cl_image_tag list.photo.key, crop: :fill %>
    <% else %>
      <%= image_tag('/app/assets/images/perrito.avif', alt: 'No photo available') %>
    <% end %>
    <h2><%= link_to list.name, list_path(list) %></h2>
  </div>
<% end %>
  <% end %>
</div>
      
<div class="d-flex justify-content-center">
  <div class="btn btn-primary my-5 w-50">
    <%= link_to "Create a new movie list", new_list_path %> 
  </div>
</div>